.stat-card {
  max-width: 450px;
  text-align: center;
  padding: 10px;
  border-left: 2px solid var(--color-primary-blue);

  &__header {
    color: var(--color-gray);
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
  }

  &__children {
    color: #333;
    font-size: 1.4rem;
  }
}
